body{
  background-color: gray;
    width: 100%;
}


.about {
    background-color: rgba(245, 247, 215, 0.991);
    margin: 80px 0;
    margin-left: 50px;
    width:80%;
    padding: 40px;
   
}

#aboutImg {
    margin-right: 20px;
    width: 350px;
    height: 400px;
    float:left;
}
.clearfix{
  overflow:auto;
}    

/* PORTFOLIO STYLE */

.container {
    
    width:80%;
    background-color:rgba(245, 247, 215, 0.991);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-top: 40px;
    

}

.navbar{
  background-color:rgb(230, 198, 119);

}
.navbar-brand {
    background-color: lightblue;
    font-weight: bold;
    font-size: 55px;
}
.navbar-nav {
    background-color: lightblue;
    font-weight: bolder;
    font-size: larger;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: blue;
    font-family: cursive;
    text-align: center;
}


    

